[Unit]
Description=Qdrant vector database
After=network.target

[Service]
Type=simple
User=florian
WorkingDirectory=/var/lib/qdrant
ExecStart=/usr/local/bin/qdrant --config-path /mnt/nfs/Florian/Gin-AI/projects/SoHoAI/scripts/qdrant/qdrant-config.yaml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
